{% extends 'base.html' %}

{% block title %}
    {% load static %}
{% endblock %}

{% block content %}
<h1>О проекте</h1>
<p>Данный проект представляет собой асинхронный HTTP-сервер, реализованный на фреймворке Django, который предоставляет REST API для получения информации о погоде. Сервер использует Open-Meteo API для получения актуальных данных о погоде на основе координат или названия города.</p>

<h2>Функциональность</h2>
<p>Сервер поддерживает следующие методы:</p>
<ol>
    <li>
        <p>Метод принимает координаты и возвращает данные о температуре, скорости ветра и атмосферном давлении на момент запроса.</p>
    </li>
    <li>
        <p>Метод принимает название города и его координаты и добавляет в список городов для которых отслеживается прогноз погоды - сервер должен хранить прогноз погоды для указанных городов на текущий день и обновлять его каждые 15 минут.</p>
    </li>
    <li>
        <p>Метод возвращает список городов, для которых доступен прогноз погоды.</p>
    </li>
    <li>
        <p>Метод принимает название города и время и возвращает для него погоду на текущий день в указанное время, должна быть возможность выбирать какие параметры погоды получаем в ответе – температура, влажность, скорость ветра, осадки.</p>
    </li>
</ol>
{% endblock %}