<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погодный API</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'resources/favicon.ico' %}" />
    {% block title %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>Погодный API</h1>
        <nav class="top-nav">
            <ul>
                <li><a href="{% url 'main:index' %}">Главная</a></li>
                <li><a href="{% url 'main:about' %}">О Сайте</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'main:registration' %}">Регистрация</a></li>
                    <li><a href="{% url 'main:login' %}">Вход</a></li>
                {% else %}
                    <li><a href="{% url 'main:logout' %}">Выход</a></li> 
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Погодный API.</p>
    </footer>
</body>
</html>
